# Algod Instance
export ALGOD_TOKEN="syrenali003lixinlei"
export ALGOD_SERVER="http://localhost"
export ALGOD_PORT="4001"

export KMD_TOKEN="syrenali003lixinlei"
export KMD_SERVER="http://localhost"
export KMD_PORT="4002"

export INDEXER_TOKEN=""
export INDEXER_SERVER="http://localhost"
export INDEXER_PORT="8980"

export ADDR_CREATOR="NGP5AIOAHUEVHCNRJ5FD6FDQ6LFRYM2L7BPKPXOBFER2DWPWH4HGTNRISM"
export MNEMONIC_CREATOR="vivid educate hope ordinary undo kiwi churn cabin more audit skull retire state truth exhaust mushroom crew father live only finish wife onion abstract hobby"
